<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
  <listener class-name="listener.ExtentReporterNG" />
  <listener class-name="listener.ExtentCucumberFormatter" />
 </listeners>
  <test name="Test">
    <packages>
      <package name="steps"/>
    </packages>
  </test> <!-- Test -->
</suite> <!-- Suite -->
